
body{
    display: flex;
}
.flappy-bird-container{
    width: 500px;
    height: 730px;
    position: absolute;
    left: 80px;
    display: none;
}
.sky-background, .sky-container{
    background-image: url('./images/background.png');
}
.sky-container{
    width: 500px;
    height: 580px;
    position: absolute;
}
.ground-container{
    background-image: url('./images/ground.png');
    width: 500px;
    height: 150px;
    position: absolute;
    top: 580px;
    z-index: +1;
}
.bird{
    position: absolute;
    width: 60px;
    height: 45px;
    background-image: url('./images/bird.png');
}
.pipe{
    position: absolute;
    background-image: url('./images/pipe.png');
    width: 60px;
    height: 300px;
}
.top-pipe{
    position: absolute;
    background-image: url('./images/pipe.png');
    transform: rotate(180deg);
    width: 60px;
    height: 300px;
}
.border-left{
    position: absolute;
    width: 80px;
    height: 790px;
    background-color: #fff;
    z-index: +2;
}
.border-right{
    position: absolute;
    width: 80px;
    height: 790px;
    background-color: #fff;
    z-index: +2;
    left: 580px;
}
.border-top{
    position: absolute;
    width: 660px;
    height: 50px;
    background-color: #fff;
    z-index: +2;
    top: -50px;
    left: -60px;
}
.score-container{
    background-image: url('./images/background.png');
    width: 300px;
    height: 180px;
    position: absolute;
    left: 650px;
    z-index: 3;
    display: none;
    animation: fadeIn 1s;
}
.score-container p{
    text-align: center;
    font-size: 35px;
}
.screen-visible{
    display: block!important;
}
.welcome-screen-container, .game-over-screen-container, .level-transition-screen-container{
    display: none;
}
.mobile-message{
    display: none;
    position: absolute;
    top: 10%;
}
.welcome-screen-container .welcome-instructions{
    display: none;
}
.welcome-screen-container p, .game-over-screen-container p, .level-transition-screen-container p, .welcome-screen-container .mobile-message{
    text-align: center;
    font-size: 34px;
}
.welcome-screen-container, .game-over-screen-container, .level-transition-screen-container{
    position: absolute;
    z-index: 2;
    width: 500px;
    height: 580px;
    left: 80px;
}
.score-container{
    height: 730px;
}
.show-level{
	transform: scale(1);
	animation: pulse .8s infinite;
}
.game-over-text{
    animation: scaleIn 1s;
}
.game-over-instruction b{
    animation: blink 1s infinite;
}
.welcome-screen-container .bird{
    top: 45%;
    left: 45%;
}
.shrink-fade-out{
    animation: shrinkFadeOut 1s;
}
@keyframes pulse {
	0% {
		transform: scale(0.8);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.8);
	}
}
@keyframes scaleIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes blink{
    0%{     color: #111;    }
    49%{    color: #111; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #111;    }
}
@keyframes shrinkFadeOut {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg) scale(0);	
    }		
  }